.hero__row {
   display: flex;
   justify-content: end;
   position: relative;
}
.hero__row-absolute {
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   width: 100%;
   display: flex;
   align-items: center;
}
.hero__images {
   /*width: 64.8753%;*/
   width: 55%;
   text-align: right;
   position: relative;
}
.hero__images-figure-max {
   position: absolute;
   top:10%;
   width: 28%;
   left: -3.5%;
}
.hero__images-figure-min {
   position: absolute;
   bottom: 0;
   left: -7%;
   width: 15%;
}
.hero__images-figure-max img {
   width: 100%;
   object-fit: cover;
}
.hero__images-figure-min img{
   width: 100%;
   object-fit: cover;
}
.hero__content {
   width: 42.1875%;
}
.hero__bage {
   width: 100%;
   position: relative;
}
.hero__bage .max-figure{
   width: 100%;
   object-fit: cover;
}
.hero__bage-absolute {
   position: absolute;
   top: 0;
   left: 0;
   right: 20%;
   bottom: 0;
   display: flex;
   align-items: center;
   justify-content: center;
}
.hero__title{
   width: 64%;
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 700;
   font-size: 5rem;
   line-height: 122%;
   text-transform: uppercase;
   color: #FFFFFF;
   border: 1px solid #000000;
   text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}
.hero__bage-vector {
   position: absolute;
   width: 60%;
   top: -65%;
}
.hero__bage-vector .vector{
   width: 100%;
   object-fit: cover;
}
.hero__bage-figure{
   width: 74%;
   position: absolute;
   top: -8%;
   left: 0;
}
.hero__bage-figure .min-figure {
   width: 100%;
   object-fit: cover;
}
.hero__content-para {
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 300;
   font-size: 1.9rem;
   line-height: 158%;
   color: #000000;
   /* padding-left: 13.92rem; */
   margin: 3.3rem 0;
}
.hero__content-button {
   /* text-align: center; */
}
.hero__button {
   position: relative;
   width: 48%;
   height: 5.3rem;
   border: none;
}
.hero__button-absolute {
   position: absolute;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   display: flex;
   justify-content: center;
   align-items: center;

}
.hero__button-absolute span{
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 500;
   font-size: 2.2rem;
   color: #FFFFFF;
   white-space: nowrap;
}
.hero__images-figure-vector {
   position: absolute;
   bottom: 0;
   left: -50%;
   width: 52%;
}
.hero__content-inner{
   margin: 6rem 10rem;
}
@media(max-width:769px){
   .hero__row{
      flex-direction: column;
      align-items: flex-end;
   }
   .hero__row-absolute{
      position: static;
      justify-content: center;
   }
   .hero__content{
      width: 100%;
   }
   .hero__bage .max-figure{
      width: 120%;
   }
   .hero__bage-figure .min-figure{
      width: 140%;
   }
   .hero__bage-vector{
      display: none;
   }
   .hero__images{
      width: 94%;
   }

   .hero__images-figure-vector{
      display: none;
   }
   .estate__btn {
      width: 100%;
   }
}

.estate__btn {
   width: 350px;
   height: 55px;
   margin: 20px 0 0 0;
   cursor: pointer;
   position: relative;
}

.btn-contact {
   text-decoration: none;
   font-weight: 500;
   font-size: 22px;
   line-height: 26px;
   display: flex;
   align-items: center;
   color: #ffffff;
   clip-path: polygon(0 0, 100% 0, 95% 100%, 0% 100%);
   background: linear-gradient(97.02deg, #d60813 9.52%, #771210 91.8%);
   position: relative;
   justify-content: center;
   text-align: center;
}
.quizz__left-btn {
   width: 170px;
   height: 45px;
   position: relative;
}

.button-wrapper__left {
   position: relative;
}

.button-wrapper__left:before {
   content: "";
   width: 176px;
   height: 41px;
   opacity: 0;
   /*z-index: -1;*/
   background: #000;
   position: absolute;
   top: -5px;
   left: 0px;
   clip-path: polygon(0 0, 93% 0, 100% 100%, 0% 100%);
   transition: opacity ease-in-out 0.5s;
}

.button-wrapper__left:hover:before {
   opacity: 1 !important;
}

.button-wrapper__right {
   position: relative;
}

.button-wrapper__right:before {
   content: "";
   width: 176px;
   height: 41px;
   opacity: 0;
   background: #fff;
   position: absolute;
   top: -5px;
   right: 0px;
   transition: opacity ease-in-out 0.5s;
   clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 11% 100%);
}

.button-wrapper__right:hover:before {
   opacity: 1;
}

.quizz__right-btn {
   width: 170px;
   height: 45px;
   transform: rotate(180deg);
}

.hero__content-button a:hover {
   color: #fff !important;
}

