.hero__row {
   display: flex;
   justify-content: end;
   position: relative;
}
.hero__row-absolute {
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   width: 100%;
   display: flex;
   align-items: center;
}
.hero__images {
   width: 64.8753%;
   text-align: right;
   position: relative;
}
.hero__images-figure-max {
   position: absolute;
   top:10%;
   width: 28%;
   left: -3.5%;
}
.hero__images-figure-min {
   position: absolute;
   bottom: 0;
   left: -7%;
   width: 15%;
}
.hero__images-figure-max img {
   width: 100%;
   object-fit: cover;
}
.hero__images-figure-min img{
   width: 100%;
   object-fit: cover;
}
.hero__content {
   width: 42.1875%;
}
.hero__bage {
   width: 100%;
   position: relative;
}
.hero__bage .max-figure{
   width: 100%;
   object-fit: cover;
}
.hero__bage-absolute {
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   display: flex;
   align-items: center;
   justify-content: center;
}
.hero__title{
   width: 64%;
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 700;
   font-size: 5rem;
   line-height: 122%;
   text-transform: uppercase;
   color: #FFFFFF;
   border: 1px solid #000000;
   text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}
.hero__bage-vector {
   position: absolute;
   width: 60%;
   top: -65%;
}
.hero__bage-vector .vector{
   width: 100%;
   object-fit: cover;
}
.hero__bage-figure{
   width: 74%;
   position: absolute;
   top: -8%;
   left: 0;
}
.hero__bage-figure .min-figure {
   width: 100%;
   object-fit: cover;
}
.hero__content-para {
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 300;
   font-size: 1.9rem;
   line-height: 158%;
   color: #000000;
   padding-left: 13.92rem;
   margin: 3.3rem 0;
}
.hero__content-button {
   text-align: center;
}
.hero__button {
   position: relative;
   width: 48%;
   height: 5.3rem;
   border: none;
}
.hero__button-absolute {
   position: absolute;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   
}
.hero__button-absolute span{
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 500;
   font-size: 2.2rem;
   color: #FFFFFF;
   white-space: nowrap;
}
.hero__images-figure-vector {
   position: absolute;
   bottom: 0;
   left: -50%;
   width: 52%;
}
.hero__content-inner{
   margin-bottom: 6rem;
}
@media(max-width:769px){
   .hero__row{
      flex-direction: column;
      align-items: flex-end;
   }
   .hero__row-absolute{
      position: static;
      justify-content: center;
   }
   .hero__content{
      width: 100%;
   }
   .hero__bage .max-figure{
      width: 120%;
   }
   .hero__bage-figure .min-figure{
   width: 140%;
}
   .hero__bage-vector{
      display: none;
   }
   .hero__images{
      width: 94%;
   }
   .hero__content-button{
      margin-left: -11%;
   }
   .hero__images-figure-vector{
      display: none;
   }
}